<style>
    body{
       background-color: #E6E6FA;
       padding-top:1%;
       padding-bottom:50%;
    }
    h3{
       float: right;
       margin-top:-40%;
       margin-right:15.5%;
       font-weight: bold;
       
    }
    .text{
       float: right;
       margin-top:-34.5%;
       margin-right:38.5%;
       font-size: larger;
       font-weight: bold;
    }
    .text1{
       float: right;
       margin-top:-32%;
       margin-right:37.8%;
    }
    .text2{
       float: right;
       margin-top:-29%;
       margin-right:6.2%;
       border: 2px solid black;
        background-color: lavenderblush;
        padding-left:8px;
        padding-top:5px;
        padding-bottom:5px;
        padding-right: 8px;
    }
    .text3{
       float: right;
       margin-top:5%;
       margin-right:-9.2%;
    }
    .text4{
       margin-top:8.5%;
       margin-left:50%;
      
    }
    .text5{
       float: right;
       margin-top:1%;
       margin-right:36%;
       border: 3px solid black;
    }
</style>
<body>
   <img src="assets/img/shorts4.webp" alt="" style="margin-left:5%;margin-top:2%;height: 600px;width:500px;"><br>
   <h3>Women's Pull-On Faux-Leather <br> Shorts</h3>
   <div class="text">
      USD 41.40
   </div>
   <div class="text1">
       COLOR: BLACK
   </div>
   <div class="text2">
   <h6> Product Details</h6>
   <p> Put together seriously stylish looks starting with these sleek faux-leather <br> shorts from Tommy Jeans.</p>
<ul>
<li>Logo flag at right pocket</li>
<li> Two side pockets</li>
<li> Pull-on styling; elastic waistband</li>
<li> Imported</li>
</ul>
<h6>Size & Fit</h6>
<ul>
   <li>Approx. model height is 5'10" and she is wearing a size small</li>
   <li>Rise: approx. 11-1/2"; relaxed fit through hips and thighs</li>
   <li> Approx. inseam: 4"</li>
   </ul>
<h6>Materials & Care</h6>
<ul>
   <li>Dry clean</li>
   <li>Polyurethane</li>
</ul>
Web ID: 14455109
   </div>
   <div class="text3">
       <select class="form-select" aria-label="Default select example">
           <option selected>Select Size</option>
           <option value="1">"XS"</option>
           <option value="2">"S"</option>
           <option value="3">"M"</option>
           <option value="3">"L"</option>
           <option value="3">"XL"</option>
           <option value="3">"XXL"</option>
         </select>
         <a routerLink="/sizechart1" style="float: right; margin-top:-27%; margin-right: -360%;color: black;">size chart</a>
   </div>
   <div class="text4">
       <div class="d-grid gap-2 col-6 mx-auto">
           <button class="btn btn-dark" type="button"><a href="" style="text-decoration: none;color: white;"><i class="fa fa-shopping-cart" aria-hidden="true" style="padding-right: 10px;"></i>Add To Cart</a></button>
         </div>
       </div>
       <div class="text5">
           <button class="btn btn-light" type="button"><a routerLink="/review" style="text-decoration: none;color: black;"><i class="fa fa-comments-o" aria-hidden="true"style="padding-right: 10px;"></i>Write a Review</a></button>
       </div>
</body>

