<style>
    body{
        background-color: #E6E6FA;
        padding-top:1%;
        padding-bottom:18%;
    }
    .form{
        margin-left:38%;
        margin-right:40%;
        margin-top: 3%;
        border:1px solid black;
        padding-left:15px;
        padding-right:15px;
        background-color: white;
    }
    .form1{
        margin-left:38%;
        margin-right:40%;
        margin-top: 1%;
        border:1px solid black;
        padding-left:15px;
        padding-right:15px;
    }
    .padding1{
        margin-top:10%;
        padding-bottom: 3%;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
    }
    .padding2{
        margin-bottom:5%;
    }
    .form2{
        text-align: center;
        padding-top:5%;
    }
</style>
<body>
    <div class="form">
        <div class="padding1">
    <h3>TrendyStyle</h3>
    <h5>Admin Login</h5>
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <div class="padding2">
      <button type="submit" class="btn btn-primary" style="margin-top:5%;"><a routerLink="/adminhome" style="text-decoration: none;color: white;">Log in</a> </button> <br>
      </div>
      </div>
</body>
