<style>
    body{
       background-color: #E6E6FA;
       padding-top:1%;
       padding-bottom:50%;
    }
    h3{
       float: right;
       margin-top:-42%;
       margin-right:22.2%;
       font-weight: bold;
       
    }
    .text{
       float: right;
       margin-top:-36.5%;
       margin-right:45%;
       font-size: larger;
       font-weight: bold;
    }
    .text1{
       float: right;
       margin-top:-34%;
       margin-right:40.6%;
    }
    .text2{
       float: right;
       margin-top:-31%;
       margin-right:10.5%;
       border: 2px solid black;
        background-color: lavenderblush;
        padding-left:8px;
        padding-top:5px;
        padding-bottom:5px;
        padding-right: 8px;
    }
    .text3{
       float: right;
       margin-top:8.5%;
       margin-right:-9.2%;
      
    }
    .text4{
       margin-top:12%;
       margin-left:42%;
      
    }
    .text5{
       float: right;
       margin-top:1%;
       margin-right:40%;
       border: 3px solid black;
    }
</style>
<body>
   <img src="assets/img/dress3.webp" alt="" style="margin-left:5%;margin-top:2%;height: 600px;width:500px;"><br>
   <h3>Printed Tiered Smocked-Waist <br> Flutter-Sleeve Dress</h3>
   <div class="text">
    USD 49.99
   </div>
   <div class="text1">
    COLOR: BLACK/GOLD
   </div>
   <div class="text2">
   <h6> Product Details</h6>
   <p> Delicate flutter sleeves frame this dress from MSK. Pair this whimsical ruffled <br> design with strappy high heels for a polished finish</p>
<ul>
   <li> Button closures at neck back </li>
   <li> Lined </li>
   <li> Chiffon: Smooth, sheer woven fabric </li>
   <li> Short flutter sleeves </li>
   <li> Tiered ruffled skirt </li>
   <li> XS=0-2, S=2-4, M=6-8, L=10-12, XL=14-16 </li>
   <li> Imported </li>
</ul>
<h6>Size & Fit</h6>
<ul>
   <li>High smocked neckline; Fit & flare silhouette</li>
   <li>Approx. 36-1/4" long from center back neck to hem. Length is <br> based on size medium and varies 1/4" between sizes</li>
   </ul>
<h6>Materials & Care</h6>
<ul>
   <li>Hand wash</li>
   <li>Polyester/spandex; lining: polyester</li>
</ul>
 Web ID:  12958509
   </div>
   <div class="text3">
       <select class="form-select" aria-label="Default select example">
           <option selected>Select Size</option>
           <option value="3">"XS"</option>
           <option value="1">"S"</option>
           <option value="2">"M"</option>
           <option value="3">"L"</option>
           <option value="3">"XL"</option>
           <option value="3">"XXL"</option>
         </select>
         <a routerLink="/sizechart" style="float: right; margin-top:-27%; margin-right: -360%;color: black;">size chart</a>
   </div>
   <div class="text4">
       <div class="d-grid gap-2 col-6 mx-auto">
           <button class="btn btn-dark" type="button"><a href="" style="text-decoration: none;color: white;"><i class="fa fa-shopping-cart" aria-hidden="true" style="padding-right: 10px;"></i>Add To Cart</a></button>
         </div>
       </div>
       <div class="text5">
           <button class="btn btn-light" type="button"><a routerLink="/review" style="text-decoration: none;color: black;"><i class="fa fa-comments-o" aria-hidden="true"style="padding-right: 10px;"></i>Write a Review</a></button>
       </div>
       
</body>


