<style>
    body{
        background-color: #E6E6FA;
        padding-top:1%;
        padding-bottom:10%;
    }
</style>
<body>
    <div class="card" style="width: 18rem;margin-left:3%; padding-bottom:25px;">
        <img src="assets/img/pants1.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Women's Relaxed Joggers, Created for Macy's</h5>
          <p class="card-text">USD 39.50</p>
          <a routerLink="/pants1" class="btn btn-primary">View More</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;float: right;margin-top:-40.2%;
      margin-right:51.5%;padding-bottom:25px; ">
        <img src="assets/img/pants2.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Women's Essentials Sweatpant Jogger</h5>
          <p class="card-text">USD 55.00</p>
          <a routerLink="/pants2" class="btn btn-primary">View More</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;float: right;margin-top:-40.2%;
     margin-right:27.5%; ">
        <img src="assets/img/pants3.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Juniors' High-Rise Drawstring-Waist Jogger Pants</h5>
          <p class="card-text">USD 36.00</p>
          <a routerLink="/pants3" class="btn btn-primary">View More</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;float: right;margin-top:-40.2%;
     margin-right:3.5%; ">
        <img src="assets/img/pants4.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Petite Short Active Drawstring Pant, Created for Macy's</h5>
          <p class="card-text">USD 21.99</p>
          <a routerLink="/pants4" class="btn btn-primary">View More</a>
        </div>
      </div>
</body>
