<style>
    body{
       background-color: #E6E6FA;
       padding-top:1%;
       padding-bottom:50%;
    }
    h3{
       float: right;
       margin-top:-40%;
       margin-right:23%;
       font-weight: bold;
       
    }
    .text{
       float: right;
       margin-top:-34.5%;
       margin-right:40.3%;
       font-size: larger;
       font-weight: bold;
    }
    .text1{
       float: right;
       margin-top:-32%;
       margin-right:33%;
    }
    .text2{
       float: right;
       margin-top:-28.8%;
       margin-right:7.8%;
       border: 2px solid black;
        background-color: lavenderblush;
        padding-left:8px;
        padding-top:5px;
        padding-bottom:5px;
        padding-right: 8px;
    }
    .text3{
       float: right;
       margin-top:9%;
       margin-right:-9%;
    }
    .text4{
       margin-top:6.5%;
       margin-left:50%;
      
    }
    .text5{
       float: right;
       margin-top:1%;
       margin-right:36%;
       border: 3px solid black;
    }
</style>
<body>
   <img src="assets/img/msweatshirt1.webp" alt="" style="margin-left:5%;margin-top:2%;height: 600px;width:500px;"><br>
   <h3>Men's Powerblend Fleece <br> Sweatshirt</h3>
   <div class="text">
    USD 45.00
   </div>
   <div class="text1">
       COLOR: GRANITE HEATHER
   </div>
   <div class="text2">
   <h6> Product Details</h6>
   <p> Your favorite sweatshirt kicks it up a notch. The Powerblend fleece in this <br> Champion top gives you soft classic comfort but without the bulk. </p>
<ul>
<li>Longer line for improved coverage</li>
<li> Wider ribbing helps cuffs and hem stay flat</li>
<li>Triple-stitched seams help improve durability</li>
<li>Powerblend fleece helps reduce shrinkage and pilling</li>
<li>Soft brushed interior</li>
<li> Imported</li>
</ul>
<h6>Size & Fit</h6>
<ul>
   <li>Due to generous sizing, we suggest sizing down for the perfect fit</li>
   <li> Approx. model height is 5'10" and she is wearing size small</li>
   <li>Relaxed fit; approx. 26" long</li>
   </ul>
<h6>Materials & Care</h6>
<ul>
   <li>Machine washable</li>
   <li>Cotton/Polyester</li>
</ul>
Web ID:   2929283
   </div>
   <div class="text3">
       <select class="form-select" aria-label="Default select example">
           <option selected>Select Size</option>
           <option value="1">"XS"</option>
           <option value="2">"S"</option>
           <option value="3">"M"</option>
           <option value="3">"L"</option>
           <option value="3">"XL"</option>
           <option value="3">"XXL"</option>
         </select>
         <a routerLink="/sizechart1" style="float: right; margin-top:-27%; margin-right: -360%;color: black;">size chart</a>
   </div>
   <div class="text4">
       <div class="d-grid gap-2 col-6 mx-auto">
           <button class="btn btn-dark" type="button"><a href="" style="text-decoration: none;color: white;"><i class="fa fa-shopping-cart" aria-hidden="true" style="padding-right: 10px;"></i>Add To Cart</a></button>
         </div>
       </div>
       <div class="text5">
           <button class="btn btn-light" type="button"><a routerLink="/review" style="text-decoration: none;color: black;"><i class="fa fa-comments-o" aria-hidden="true"style="padding-right: 10px;"></i>Write a Review</a></button>
       </div>
</body>


