<style>
     body{
        background-color: #E6E6FA;
        padding-top:1%;
        padding-bottom:10%;
    }
    .form{
        margin-left:30%;
        margin-right:30%;
        margin-top: 3%;
        border:1px solid black;
        padding-left:15px;
        padding-right:15px;
        background-color: white;
    }
</style>
<body>
    <form>
        <div class="form">
            <h3 style="text-align: center;font-family: 'Times New Roman', Times, serif; padding-top:10%;">TrendyStyle</h3>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="fullname">
                <label for="floatingInput">Full Name</label>
              </div>
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="id_number">
                <label for="floatingInput">Id Number</label>
              </div>
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="sign@gmail.com">
                <label for="floatingInput">E-mail Address</label>
              </div>
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="location">
                <label for="floatingInput">Location</label>
              </div>
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="gender">
                <label for="floatingInput">Gender</label>
              </div>
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="username">
                <label for="floatingInput">Username</label>
              </div>
              <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
              </div>
        <button type="submit" class="btn btn-primary" style="margin-top:3%;margin-bottom:3%;"><a routerLink="/home" style="text-decoration: none;color: white;">Register</a></button>
        </div>
      </form>
</body>

