<style>
    body{
        background-color: #E6E6FA;
        padding-top:1%;
        padding-bottom:10%;
    }
</style>
<body>
    <div class="card" style="width: 18rem;margin-left:3%;">
        <img src="assets/img/shirt1.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Men's Regular-Fit Plaid Flannel Shirt, Created for Macy's</h5>
          <p class="card-text">USD 8.96</p>
          <a routerLink="/shirt1" class="btn btn-primary">View More</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;float: right;margin-top:-40.2%;
      margin-right:51.5%; padding-bottom: 25px; ">
        <img src="assets/img/shirt2.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Men's Regular-Fit Solid Shirt, Created for Macy's</h5>
          <p class="card-text">USD 50.00</p>
          <a routerLink="/shirt2" class="btn btn-primary">View More</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;margin-left:3%; float: right;margin-top:-40.2%;
      margin-right:27.5%;">
        <img src="assets/img/shirt3.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sun + Stone Men's Corduroy Shirt, Created for Macy's</h5>
          <p class="card-text">USD 27.50</p>
          <a routerLink="/shirt3" class="btn btn-primary">View More</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;margin-left:3%; float: right;margin-top:-40.2%;
      margin-right:3%;">
        <img src="assets/img/shirt4.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Men's Short-Sleeve Solid Textured Shirt, Created for Macy's</h5>
          <p class="card-text">USD 30.00</p>
          <a routerLink="/shirt4" class="btn btn-primary">View More</a>
        </div>
      </div>
    </body> 
