<style>
    body{
        background-color: #E6E6FA;
        padding-top:1%;
        padding-bottom:10%;
    }
</style>
<body>
    <div class="card" style="width: 18rem;margin-left:3%;">
        <img src="assets/img/mjeans1.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Men's Jeff Straight-Fit Jeans, Created for Macy's</h5>
          <p class="card-text">USD 50.00</p>
          <a routerLink="/mjeans1" class="btn btn-primary">View More</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;float: right;margin-top:-38.2%;
      margin-right:51.5%;  ">
        <img src="assets/img/mjeans2.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Men's Modern Slim-Fit Stretch Jeans</h5>
          <p class="card-text">USD 49.50</p>
          <a routerLink="/mjeans2" class="btn btn-primary">View More</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;margin-left:3%; float: right;margin-top:-38.2%;
      margin-right:27.5%;">
        <img src="assets/img/mjeans3.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Men's Landis Straight-Fit Jeans, Created for Macy's</h5>
          <p class="card-text">USD 50.00</p>
          <a routerLink="/mjeans3" class="btn btn-primary">View More</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;margin-left:3%; float: right;margin-top:-38.2%;
      margin-right:-48.5%;">
        <img src="assets/img/mjeans4.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Men's Zac Relaxed Fit Straight Jeans</h5>
          <p class="card-text">USD 98.00</p>
          <a routerLink="/mjeans4" class="btn btn-primary">View More</a>
        </div>
      </div>
    </body> 
