<style>
    body{
        background-color: #E6E6FA;
        padding-top:1%;
        padding-bottom:10%;
    }
</style>
<body>
    <div class="card" style="width: 18rem; margin-left:3%;">
      <img src="assets/img/top1.webp" class="d-block w-100" alt="...">
        <div class="card-body">
          <h6 class="card-title">Women's Metallic Dot Print Cold-Shoulder Top, Created for Macy's</h6>
          <p class="card-text">USD 29.75</p>
          <a routerLink="/top1" class="btn btn-primary">View More</a>
        </div>
      </div>
      <div class="card" style="width: 18rem; margin-left:3%; float: right;margin-top:-37.7%;
      margin-right:51.5%;">
        <img src="assets/img/top2.webp" class="d-block w-100" alt="...">
        <div class="card-body">
          <h6 class="card-title">Women's Flocked-Dot Mesh Tie-Neck Blouse</h6>
          <p class="card-text">USD 71.19</p>
          <a routerLink="/top2" class="btn btn-primary">View More</a>
        </div>
      </div>
      <div class="card" style="width: 18rem; margin-left:3%; float: right;margin-top:-37.7%;
      margin-right:27.5%;">
        <img src="assets/img/top3.webp" class="d-block w-100" alt="...">
        <div class="card-body">
          <h6 class="card-title">Women's Long Sleeve Mock Neck Turtleneck</h6>
          <p class="card-text">USD 34.30</p>
          <a routerLink="/top3" class="btn btn-primary">View More</a>
        </div>
      </div>
      <div class="card" style="width: 18rem; margin-left:3%; float: right;margin-top:-37.7%;
      margin-right:3.5%;padding-bottom:19px;">
         <img src="assets/img/top4.webp" class="d-block w-100" alt="...">
        <div class="card-body">
          <h6 class="card-title">Pintuck Ruffled Blouse</h6>
          <p class="card-text">USD 41.40</p>
          <a routerLink="/top4" class="btn btn-primary">View More</a>
        </div>
      </div>
</body>  
