<style>
    .table{
        margin-top: 1%;
        margin-left:25%;
    }
    body{
       background-color: #E6E6FA;
       padding-top:1%;
       padding-bottom:5%;
    }
</style>
<body>
  <h3 style="text-align: center; padding-top:1%;">Size Chart</h3>
<div class="table">
<table class=" table-striped">
        <thead>
          <tr style="background-color: black;color: white; font-size: 20px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
            <th scope="col" style="padding-left:25px;">US</th>
            <th scope="col" style="padding-left:55px;">SIZE</th>
            <th scope="col" style="padding-left:55px;">Chest (cm.)	</th>
            <th scope="col" style="padding-left:55px;">Waist (cm.)</th>
            <th scope="col" style="padding-left:55px; padding-right:25px;">Hip (cm.)</th>
          </tr>
        </thead>
        <tbody>
          <tr style="font-size: larger; background-color: lightgoldenrodyellow;">
            <th scope="row" style="padding-left:25px;">XS</th>
            <td  style="padding-left:65px;">0</td>
            <td style="padding-left:85px;">81</td>
            <td style="padding-left:80px;">63.5</td>
            <td style="padding-left:80px;">87.5</td>
          </tr>
          <tr style="font-size: larger;">
            <th scope="row" style="padding-left:25px;">XS</th>
            <td style="padding-left:65px;">2</td>
            <td style="padding-left:85px;">84</td>
            <td style="padding-left:85px;">66</td>
            <td style="padding-left:85px;">80</td> 
          </tr>
          <tr style="font-size: larger;background-color: lightgoldenrodyellow;">
            <th scope="row" style="padding-left:25px;">S</th>
            <td style="padding-left:65px;">4</td>
            <td style="padding-left:80px;">86.5</td>
            <td style="padding-left:80px;">68.5</td>
            <td style="padding-left:85px;">93</td> 
          </tr>
          <tr style="font-size: larger;">
            <th scope="row" style="padding-left:25px;">S</th>
            <td style="padding-left:65px;">6</td>
            <td style="padding-left:85px;">89</td>
            <td style="padding-left:85px;">71</td>
            <td style="padding-left:85px;">95</td> 
          </tr>
          <tr style="font-size: larger;background-color: lightgoldenrodyellow;">
            <th scope="row" style="padding-left:25px;">M</th>
            <td style="padding-left:65px;">8</td>
            <td style="padding-left:80px;">91.5</td>
            <td style="padding-left:80px;">73.5</td>
            <td style="padding-left:85px;">98</td> 
          </tr>
          <tr style="font-size: larger;">
            <th scope="row" style="padding-left:25px;">M</th>
            <td style="padding-left:61px;">10</td>
            <td style="padding-left:85px;">94</td>
            <td style="padding-left:85px;">76</td>
            <td style="padding-left:75px;">100.5</td> 
          </tr>
          <tr style="font-size: larger;background-color: lightgoldenrodyellow;">
            <th scope="row" style="padding-left:25px;">L</th>
            <td style="padding-left:61px;">12</td>
            <td style="padding-left:85px;">98</td>
            <td style="padding-left:85px;">80</td>
            <td style="padding-left:80px;">104</td> 
          </tr>
          <tr style="font-size: larger;">
            <th scope="row" style="padding-left:25px;">L</th>
            <td style="padding-left:61px;">14</td>
            <td style="padding-left:75px;">101.5</td>
            <td style="padding-left:85px;">84</td>
            <td style="padding-left:80px;">108</td> 
          </tr>
          <tr style="font-size: larger;background-color: lightgoldenrodyellow;">
            <th scope="row" style="padding-left:25px;">XL</th>
            <td style="padding-left:61px;">16</td>
            <td style="padding-left:75px;">105.5</td>
            <td style="padding-left:80px;">87.5</td>
            <td style="padding-left:80px;">112</td> 
          </tr>
          <tr style="font-size: larger;">
            <th scope="row" style="padding-left:25px;">XL</th>
            <td style="padding-left:61px;">18</td>
            <td style="padding-left:75px;">110.5</td>
            <td style="padding-left:85px;">93</td>
            <td style="padding-left:80px;">117</td> 
          </tr>
          <tr style="font-size: larger;background-color: lightgoldenrodyellow;">
            <th scope="row" style="padding-left:25px;">XXL</th>
            <td style="padding-left:61px;">20</td>
            <td style="padding-left:75px;">115.5</td>
            <td style="padding-left:85px;">98</td>
            <td style="padding-left:80px;">123</td> 
          </tr>
        </tbody>
  </table>
  </div>
  </body>

