<style>
    body{
       background-color: #E6E6FA;
       padding-top:1%;
       padding-bottom:23%;
   }
</style>
<body>
    <div class="header" style="background-color:lightslategray; margin-right:82%;padding-left:5%; margin-left:-8%;padding-top:5%;margin-top:-5%;padding-bottom:23%;">
        <h4 style="margin-left:23.5%;margin-top:8.5%;">Admin Menu</h4>
        <div class="side-nav">
            <a routerLink="/adminhome" style="text-decoration: none;color: black; font-size: larger; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                <p style="margin-top:4%; margin-left:23.5%;"><i class="fa fa-home" aria-hidden="true"style="color: darkblue;"></i> Home</p>
            </a>
               <a routerLink="/addproducts" style="text-decoration: none;color: black; font-size: larger; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                        <p  style="margin-top:-3.5%; margin-left:23.5%;"><i class="fa fa-plus" aria-hidden="true"></i>Add Products</p>
                    </a>
                <a routerLink="/updateproducts" style="text-decoration: none;color: black; font-size: larger; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                        <p style="margin-top:-3%; margin-left:23.5%;"><i class="fa fa-pencil" aria-hidden="true"style="color:green;"></i>Update Products</p>
                    </a>
                <a routerLink="/deleteproducts" style="text-decoration: none;color: black; font-size: larger; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                        <p style="margin-top:-2.5%;margin-left:23.5%;"><i class="fa fa-trash" aria-hidden="true"style="color:darkred;"></i>Delete Products</p>
                    </a>
                    <a routerLink="/adminlogin" style="text-decoration: none;color: black; font-size: larger; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                        <p style="margin-top:-4%;margin-left:23.5%;"><i class="fa fa-sign-out" aria-hidden="true"style="color: darkorange;"></i>Logout</p>
                    </a>
                <div class="active"></div>
        </div>
    </div>
<div class="container jumbotron" style="margin-top:-35%;">
    <div class="card mx-auto" style="width: 42rem;height:10rem;">
        <div class="card-body">
            <h4 style="text-align: center;">Delete Products</h4>
    <div class="form-group row">
        <label for="exampleInputidnumber" class="col-sm-2 col-form-label">Product ID</label>
        <div class="col-sm-10">
          <input type="id number" class="form-control" id="inputPassword" placeholder="Enter Product ID "> 
          <button type="delete" class="btn btn-danger mt-3"><a href="employee.html" style="color: white;text-decoration: none;">Delete</a> </button>
        </div>
        </div>
        </div>
  </div>
</div>
</body>