<style>
    body{
       background-color: #E6E6FA;
       padding-top:1%;
       padding-bottom:50%;
    }
    h3{
       float: right;
       margin-top:-40%;
       margin-right:10.7%;
       font-weight: bold;
       
    }
    .text{
       float: right;
       margin-top:-34%;
       margin-right:40.5%;
       font-size: larger;
       font-weight: bold;
    }
    .text1{
       float: right;
       margin-top:-31%;
       margin-right:33.9%;
    }
    .text2{
       float: right;
       margin-top:-29%;
       margin-right:8.5%;
       border: 2px solid black;
        background-color: lavenderblush;
        padding-left:8px;
        padding-top:5px;
        padding-bottom:5px;
        padding-right: 8px;
    }
    .text3{
       float: right;
       margin-top:3%;
       margin-right:-9%;
    }
    .text4{
       margin-top:6.5%;
       margin-left:50%;
      
    }
    .text5{
       float: right;
       margin-top:1%;
       margin-right:36%;
       border: 3px solid black;
    }
</style>
<body>
   <img src="assets/img/jeans3.webp" alt="" style="margin-left:5%;margin-top:2%;height: 600px;width:500px;"><br>
   <h3>Women's Gloria Vanderbilt x Christian <br> Siriano Wide-Leg High-Rise Jeans</h3>
   <div class="text">
    USD 99.00
   </div>
   <div class="text1">
       COLOR: POTOMAC WASH
   </div>
   <div class="text2">
   <h6> Product Details</h6>
   <p> Gloria Vanderbilt smooths out the silhouette of these high-rise  jeans by <br> eliminating back pockets, making them a pair you can totally dress up.</p>
<ul>
<li>Patch pockets at front</li>
<li> Zipper and button closure at front; belt loops</li>
<li> Imported</li>
</ul>
<h6>Size & Fit</h6>
<ul>
   <li>Approx. inseam: 32"</li>
   <li>Approx. model height is 5'9" and she is wearing size 8</li>
   <li>High rise; front: approx. 10-1/2"; leg opening: 23"</li>
   </ul>
<h6>Materials & Care</h6>
<ul>
   <li>Machine washable</li>
   <li>Cotton/spandex</li>
</ul>
Web ID:14504666
   </div>
   <div class="text3">
       <select class="form-select" aria-label="Default select example">
           <option selected>Select Size</option>
           <option value="1">"26"</option>
           <option value="2">"27"</option>
           <option value="3">"28"</option>
           <option value="3">"30"</option>
           <option value="3">"32"</option>
           <option value="3">"34"</option>
         </select>
         <a routerLink="/sizechart" style="float: right; margin-top:-27%; margin-right: -360%;color: black;">size chart</a>
   </div>
   <div class="text4">
       <div class="d-grid gap-2 col-6 mx-auto">
           <button class="btn btn-dark" type="button"><a href="" style="text-decoration: none;color: white;"><i class="fa fa-shopping-cart" aria-hidden="true" style="padding-right: 10px;"></i>Add To Cart</a></button>
         </div>
       </div>
       <div class="text5">
           <button class="btn btn-light" type="button"><a routerLink="/review" style="text-decoration: none;color: black;"><i class="fa fa-comments-o" aria-hidden="true"style="padding-right: 10px;"></i>Write a Review</a></button>
       </div>
</body>

