<style>
    body{
       background-color: #E6E6FA;
       padding-top:1%;
       padding-bottom:50%;
    }
    h3{
       float: right;
       margin-top:-40%;
       margin-right:17.8%;
       font-weight: bold;
       
    }
    .text{
       float: right;
       margin-top:-34%;
       margin-right:40.3%;
       font-size: larger;
       font-weight: bold;
    }
    .text1{
       float: right;
       margin-top:-31%;
       margin-right:40%;
    }
    .text2{
       float: right;
       margin-top:-28.8%;
       margin-right:7.5%;
       border: 2px solid black;
        background-color: lavenderblush;
        padding-left:8px;
        padding-top:5px;
        padding-bottom:5px;
        padding-right: 8px;
    }
    .text3{
       float: right;
       margin-top:5%;
       margin-right:-9%;
    }
    .text4{
       margin-top:8.5%;
       margin-left:50%;
      
    }
    .text5{
       float: right;
       margin-top:1%;
       margin-right:36%;
       border: 3px solid black;
    }
</style>
<body>
   <img src="assets/img/pants2.webp" alt="" style="margin-left:5%;margin-top:2%;height: 600px;width:500px;"><br>
   <h3>Women's Essentials Sweatpant <br> Jogger</h3>
   <div class="text">
    USD 55.00
   </div>
   <div class="text1">
       COLOR:BLACK
   </div>
   <div class="text2">
   <h6> Product Details</h6>
   <p> A little Trefoil logo makes a big impact on this fleece joggers  from adidas. <br> Extra drape means more soft fleece to sink into. That's the idea  behind <br> these adidas joggers. </p>
<ul>
<li>Elastic drawstring waistband; elastic cuffs</li>
<li> Two side pockets</li>
<li>Pull-on styling</li>
<li> Imported</li>
</ul>
<h6>Size & Fit</h6>
<ul>
   <li>Mid rise; approx. inseam: 28"</li>
   <li>Regular fit</li>
   </ul>
<h6>Materials & Care</h6>
<ul>
   <li>Machine washable</li>
   <li>Cotton/polyester (30% recycled)</li>
</ul>
Web ID:  11945530
   </div>
   <div class="text3">
       <select class="form-select" aria-label="Default select example">
           <option selected>Select Size</option>
           <option value="1">"XS"</option>
           <option value="2">"S"</option>
           <option value="3">"M"</option>
           <option value="3">"L"</option>
           <option value="3">"XL"</option>
           <option value="3">"XXL"</option>
         </select>
         <a routerLink="/sizechart" style="float: right; margin-top:-27%; margin-right: -360%;color: black;">size chart</a>
   </div>
   <div class="text4">
       <div class="d-grid gap-2 col-6 mx-auto">
           <button class="btn btn-dark" type="button"><a href="" style="text-decoration: none;color: white;"><i class="fa fa-shopping-cart" aria-hidden="true" style="padding-right: 10px;"></i>Add To Cart</a></button>
         </div>
       </div>
       <div class="text5">
           <button class="btn btn-light" type="button"><a routerLink="/review" style="text-decoration: none;color: black;"><i class="fa fa-comments-o" aria-hidden="true"style="padding-right: 10px;"></i>Write a Review</a></button>
       </div>
</body>




