<style>
    body{
       background-color: #E6E6FA;
       padding-top:1%;
       padding-bottom:50%;
    }
    h3{
       float: right;
       margin-top:-40%;
       margin-right:10.5%;
       font-weight: bold;
       
    }
    .text{
       float: right;
       margin-top:-36.5%;
       margin-right:38.5%;
       font-size: larger;
       font-weight: bold;
    }
    .text1{
       float: right;
       margin-top:-34%;
       margin-right:33.2%;
    }
    .text2{
       float: right;
       margin-top:-31%;
       margin-right:6%;
       border: 2px solid black;
        background-color: lavenderblush;
        padding-left:8px;
        padding-top:5px;
        padding-bottom:5px;
        padding-right: 8px;
    }
    .text3{
       float: right;
       margin-top:3%;
       margin-right:-9.2%;
    }
    .text4{
       margin-top:7%;
       margin-left:50%;
      
    }
    .text5{
       float: right;
       margin-top:1%;
       margin-right:36%;
       border: 3px solid black;
    }
</style>
<body>
   <img src="assets/img/shorts2.webp" alt="" style="margin-left:5%;margin-top:2%;height: 600px;width:500px;"><br>
   <h3>Women's Frayed-Hem Denim Shorts</h3>
   <div class="text">
      USD 17.63
   </div>
   <div class="text1">
       COLOR: VICTORIA BLUE
   </div>
   <div class="text2">
   <h6> Product Details</h6>
   <p> A flattering high rise and white hot hue give a refreshing look to these <br> denim shorts from Tommy Jeans, a warm-weather essential finished with <br> an edgy frayed hem.</p>
<ul>
<li>Frayed hem</li>
<li> Zipper and button closure at front; belt loops</li>
<li> Imported</li>
</ul>
<h6>Size & Fit</h6>
<ul>
   <li>High rise; approx. 11"</li>
   <li>Approx. model height is 5'10" and she is wearing size 27</li>
   <li>Approx. inseam: 3"</li>
   </ul>
<h6>Materials & Care</h6>
<ul>
   <li>Machine washable</li>
   <li>Cotton/rayon/spandex</li>
</ul>
Web ID: 13952909
   </div>
   <div class="text3">
       <select class="form-select" aria-label="Default select example">
           <option selected>Select Size</option>
           <option value="1">"26"</option>
           <option value="2">"27"</option>
           <option value="3">"28"</option>
           <option value="3">"30"</option>
           <option value="3">"32"</option>
           <option value="3">"34"</option>
         </select>
         <a routerLink="/sizechart1" style="float: right; margin-top:-27%; margin-right: -360%;color: black;">size chart</a>
   </div>
   <div class="text4">
       <div class="d-grid gap-2 col-6 mx-auto">
           <button class="btn btn-dark" type="button"><a href="" style="text-decoration: none;color: white;"><i class="fa fa-shopping-cart" aria-hidden="true" style="padding-right: 10px;"></i>Add To Cart</a></button>
         </div>
       </div>
       <div class="text5">
           <button class="btn btn-light" type="button"><a routerLink="/review" style="text-decoration: none;color: black;"><i class="fa fa-comments-o" aria-hidden="true"style="padding-right: 10px;"></i>Write a Review</a></button>
       </div>
</body>

