<style>
    body{
       background-color: #E6E6FA;
       padding-top:1%;
       padding-bottom:50%;
    }
    h3{
       float: right;
       margin-top:-40%;
       margin-right:18%;
       font-weight: bold;
       
    }
    .text{
       float: right;
       margin-top:-34.5%;
       margin-right:40.5%;
       font-size: larger;
       font-weight: bold;
    }
    .text1{
       float: right;
       margin-top:-32%;
       margin-right:36.2%;
    }
    .text2{
       float: right;
       margin-top:-29%;
       margin-right:5.2%;
       border: 2px solid black;
        background-color: lavenderblush;
        padding-left:8px;
        padding-top:5px;
        padding-bottom:5px;
        padding-right: 8px;
    }
    .text3{
       float: right;
       margin-top:0%;
       margin-right:38.2%;
    }
    .text4{
       margin-top:4%;
       margin-left:50%;
      
    }
    .text5{
       float: right;
       margin-top:1%;
       margin-right:36%;
       border: 3px solid black;
    }
</style>
<body>
   <img src="assets/img/mjeans2.webp" alt="" style="margin-left:5%;margin-top:2%;height: 600px;width:500px;"><br>
   <h3>Men's Modern Slim-Fit Stretch <br> Jeans</h3>
   <div class="text">
    USD 49.50
   </div>
   <div class="text1">
       COLOR: BLACK RINSE
   </div>
   <div class="text2">
   <h6> Product Details</h6>
   <p> Move freely throughout your day in style and comfort with the refined slim fit <br> and ultra-stretchy denim of these jeans from And Now This.</p>
<ul>
<li>Stretch performance</li>
<li> Zip fly with button closure</li>
<li> Imported</li>
</ul>
<h6>Size & Fit</h6>
<ul>
   <li>Slim fit</li>
   </ul>
<h6>Materials & Care</h6>
<ul>
   <li>Machine washable</li>
   <li>Cotton/polyester/spandex</li>
</ul>
Web ID: 12441303
   </div>
   <div class="text3">
       <select class="form-select" aria-label="Default select example">
           <option selected>Select Size</option>
           <option value="1">"26"</option>
           <option value="2">"27"</option>
           <option value="3">"28"</option>
           <option value="3">"30"</option>
           <option value="3">"32"</option>
           <option value="3">"34"</option>
         </select>
         <a routerLink="/sizechart" style="float: right; margin-top:-27%; margin-right: -360%;color: black;">size chart</a>
   </div>
   <div class="text4">
       <div class="d-grid gap-2 col-6 mx-auto">
           <button class="btn btn-dark" type="button"><a href="" style="text-decoration: none;color: white;"><i class="fa fa-shopping-cart" aria-hidden="true" style="padding-right: 10px;"></i>Add To Cart</a></button>
         </div>
       </div>
       <div class="text5">
           <button class="btn btn-light" type="button"><a routerLink="/review" style="text-decoration: none;color: black;"><i class="fa fa-comments-o" aria-hidden="true"style="padding-right: 10px;"></i>Write a Review</a></button>
       </div>
</body>

