<style>
    body{
       background-color: #E6E6FA;
       padding-top:1%;
       padding-bottom:14%;
    }
    h3{
       float: right;
       margin-top:-32%;
       margin-right:20.5%;
       font-weight: bold;
       
    }
    .text{
       float: right;
       margin-top:-29%;
       margin-right:35.5%;
       font-size: larger;
       font-weight: bold;
    }
    .text1{
       float: right;
       margin-top:-26%;
       margin-right:31.8%;
    }
    .text2{
       float: right;
       margin-top:-24%;
       margin-right:8.4%;
       border: 2px solid black;
        background-color: lavenderblush;
        padding-left:8px;
        padding-top:5px;
        padding-bottom:5px;
        padding-right: 8px;
    }
    .text3{
       float: right;
       margin-top:-17%;
       margin-right:33.5%;
    }
    .text4{
       margin-top:-13.5%;
       margin-left:50%;
      
    }
    .text5{
       float: right;
       margin-top:-9.5%;
       margin-right:33%;
       border: 3px solid black;
    }
</style>
<body>
   <img src="assets/img/top4.webp" alt="" style="margin-left:5%;margin-top:2%;height: 500px;width:500px;"><br>
   <img src="assets/img/top4.1.webp" alt="" style="margin-left:8%;margin-top:1%; height:300px;width:200px;">
   <img src="assets/img/top4.2.webp" alt="" style="margin-left:1%;margin-top:1%;height:300px;width:200px;">
   <h3>Pintuck Ruffled Blouse</h3>
   <div class="text">
    USD 41.40
   </div>
   <div class="text1">
       COLOR: RICH BLACK
   </div>
   <div class="text2">
   <h6> Product Details</h6>
   <p> It's easy to be charming in this femme top by CeCe, a look that <br> pairs perfectly with everything from denim to pantsuits.</p>
<ul>
<li> Pintucked details</li>
<li> High collar, front-button closures</li>
<li> Short ruffled sleeves</li>
<li> Imported</li>
</ul>
<h6>Size & Fit</h6>
<ul>
   <li>Approx. 24-1/4" long</li>
   </ul>
<h6>Materials & Care</h6>
<ul>
   <li>Machine washable</li>
   <li>Polyester</li>
</ul>
Web ID:  11734249
   </div>
   <div class="text3">
       <select class="form-select" aria-label="Default select example">
           <option selected>Select Size</option>
           <option value="1">XS</option>
           <option value="2">S</option>
           <option value="3">M</option>
           <option value="3">L</option>
           <option value="3">XL</option>
           <option value="3">XXL</option>
         </select>
         <a routerLink="/sizechart1" style="float: right; margin-top:-27%; margin-right: -280%;color: black;">size chart</a>
   </div>
   <div class="text4">
       <div class="d-grid gap-2 col-6 mx-auto">
           <button class="btn btn-dark" type="button"><a href="" style="text-decoration: none;color: white;"><i class="fa fa-shopping-cart" aria-hidden="true" style="padding-right: 10px;"></i>Add To Cart</a></button>
         </div>
       </div>
       <div class="text5">
           <button class="btn btn-light" type="button"><a routerLink="/review" style="text-decoration: none;color: black;"><i class="fa fa-comments-o" aria-hidden="true"style="padding-right: 10px;"></i>Write a Review</a></button>
       </div>
</body>